@model UserViewModel

<h3 class="mt-4 mb-4">Create Account</h3>

<form asp-action="Register" method="post">

   <!-- Q2 Complete this form to gather details for -->

   <!-- Name -->

   <!-- Email -->

   <!-- Password -->

   <!-- PasswordConfirm -->

   <!-- Role -->


   <!-- Submit and cancel -->

</form>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

